body{
    font-family: 'Victor Mono', monospace;
}

.logo img {
    background: #000;
    border-radius: 50px;
    width: 80px;
}
.logo {
    transition: transform .2s;
}

.logo:hover {
    transform: scale(0.8);
}

.navbar {
    background-color: #333;
    border-radius: 10px;
    padding: 1rem 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.section__heading {
    font-size: 2rem;
    color: #f55;
    margin-bottom: 2rem;
}

.section__heading:hover {
    transform: scale(0.8);
}

.contact__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.contact__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact__item {
    display: flex;
    align-items: center;
    margin: 10px;
}

.contact__item i {
    margin-right: 10px;
    font-size: 24px;
    color: #f55;
}

.contact__item p {
    font-size: 16px;
    color: #333;
}

.footer {
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.footer__social {
    margin-bottom: 1rem;
}

.footer__social-icon {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.footer__text {
    font-size: 1rem;
    color: #fff;
}

.footer__link {
    color: #f55;
    text-decoration: underline;
}
.contact__map{
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.contact__map:hover{
    transform: scale(1.1);
}