#thisOne h1 {
    font-size: 60pt;
}

#thisOne, #thatOne, #thirdOne {
    color: black;
}

button, .btn-light {
    background-color: chocolate;
    color: beige;
    border: 0;
    border-radius: 10px;
}

section p {
    color: black;
    font-family: Corbel;
}

li {
    color: red;
}

ul > li {
    color: blue;
}

.nav-item {
    color: green;
}

#nav > .nav-item:hover {
    color: pink;
}

#nav > li:hover {
    color: brown;
}

li.nav-item:hover {
    color: orange;
}
