body {
    font-family: "Open Sans";
    background-color: #ffffff;
    color: #e4d3ce;
}

form {
    background-color: #0033A0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

.rama{
    text-align: center;
}

.inne label{
    margin-right: 20px;
    margin-left: 20px
}

.inne{
    margin-top: 15px;
    margin-bottom: 10px;
}

input[type="color"]{
    border-radius: 10px;
    border: 1px
}

input[type="text"]{
    padding: 5px 0px;
    text-align: center;
    width: 50%;
    margin: 10px 0;
    border: 2px solid #414141;
    border-radius: 20px;
    background-color: #ffffff;
}

input[type="number"],
input[type="date"], 
input[type="range"], 
select {
    text-align: center;
    width: 25%;
    margin: 10px 0;
    border: 2px solid #414141;
    border-radius: 10px;
    background-color: #ffffff;
}

label {
    display: inline;
    margin-bottom: 5px;
}

input[type="radio"], 
input[type="checkbox"] {
    margin-right: 5px;
}

select {
    width: auto;
}

#ramka{
    height: 70px;
}

h2{
    text-align: center;
    margin-top:0px;
}

button {
    padding: 5px 20px;
    background-color: #ffffff;
    color: #0033A0;
    border: 1px solid #000000;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #e4d3ce;
    color: #5d4e49;
}

form fieldset{
    margin-bottom: 10px;
    border-top-width: 10px;
    border-left-width: 4px;
    border-radius: 30px;
    border: 2px solid white;
}

legend{
    margin-right: auto;
}

