@import "external.css";

@layer pierwsza, druga, trzecia, zerowa;

@layer pierwsza {
  section {
    transform: rotate(10deg) scale(2); /* Obrót i skalowanie */
    filter: blur(5px); /* Rozmycie */
    color: rgba(0, 0, 255, 0.5) !important; /* Półprzezroczysty niebieski tło (jeżeli miało być tło) */
    padding: calc(1em - 5px); /* Padding z wykorzystaniem funkcji calc */
  }
}

@layer druga {
  section {
    color: red;
  }
}

@layer trzecia {
  section {
    color: blue;
  }
}

/* Teraz nie ma potrzeby używania @include, ponieważ wszystko jest już zaimportowane i zdefiniowane */
