body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul.navbar-links{
    list-style-type: none;
    display: none;
    flex-direction: column;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.slider {
    overflow: hidden;
    display: none;
}

.slider-drugi {
    display: none;
}

.mobile-menu {
    display: none;
}

.toggle-menu {
    display: none;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* Adjust the padding as needed */
}

.site-name {
    font-weight: bold;
    font-size: 1.5rem;
    /* Adjust the size as needed */
}

.header-icons img {
    margin-left: 10px;
    /* Space between icons */
    cursor: pointer;
    /* Changes the cursor on hover */
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    /* Top border */
    border-bottom: 1px solid #ddd;
    /* Bottom border */
}

.navbar a {
    margin: 0 15px;
    /* Space between navbar items */
    text-decoration: none;
    /* Removes underline from links */
    color: #000;
    /* Text color for navbar items */
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
    /* Underline on hover for visual feedback */
}

nav img {
    margin-right: 10px;
}

.icon-bar {
    display: flex;
    justify-content: space-around;
    /* Rozmieszcza ikony równomiernie */
    padding: 20px 0;
    /* Dodatkowa przestrzeń dookoła */
    background-color: #f8f8f8;
    /* Tło sekcji ikon, dostosuj kolor do swoich potrzeb */
}

.icon-bar a img {
    width: 20px;
    /* Dostosuj szerokość ikon */
    height: auto;
    /* Zachowaj proporcje ikon */
}

.promo-section {
    display: flex;
    align-items: center;
    background-color: #DBD0CC;
    /* Kolor tła sekcji */
    padding: 20px;
    /* Odstępy wewnętrzne */
}

.promo-image {
    width: 594px;
    /* Szerokość obrazu */
    height: 446px;
    /* Wysokość obrazu */
}

.promo-text {
    max-width: 465px;
    /* Maksymalna szerokość tekstu */
}

.promo-text h2,
.promo-text p,
.promo-text h1 {
    color: #A86A3D;
    /* Kolor tekstu */
}

h1 {
    display: none;
}

button {
    background-color: transparent;
    border: 2px solid #A86A3D;
    /* Kolor obramowania */
    color: #A86A3D;
    /* Kolor tekstu */
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #A86A3D;
    /* Kolor tła przycisku przy najechaniu */
    color: #fff;
}

.social-icons img {
    margin-left: 10px;
}

.main-section,
.products {
    padding: 20px;
}

footer {
    background-color: #323334;
    /* Main background color */
    text-align: center;
    padding: 10px 0;
    /* Top and bottom padding */
}

.footer-container {
    width: 100%;
    margin: 0 auto;
    /* Centers the container */
}

.main-section {
    padding: 20px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Odstępy między produktami */
}

.product-item {
    flex-basis: calc(50% - 20px);
    /* Szerokość dla dwóch produktów w linii, odjęcie gap */
    display: flex;
    align-items: center;
    /* Wyrównanie elementów pionowo */
    background-color: #fff;
    /* Domyślne tło dla produktu */
    float: left;
    margin: 10px 0;
    border: 1px solid #eaeaea;
}

.product-item img {
    margin: 10px;
    max-width: 100%;
    /* Obrazy produktów responsywne */
    height: auto;
}

.product-description {
    padding: 10px;
    /* Dodaje odstępy wokół opisu produktu */
}

.product-content {
    flex-basis: 50%;
    padding-left: 20px;
    /* Odstęp między obrazkiem a tekstem */
    text-align: left;
    /* Wyrównanie tekstu do lewej */
}

.details-button {
    display: block;
    /* Przycisk w bloku, aby zajął całą dostępną szerokość */
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
    margin: 10px auto;
    /* Automatyczne marginesy centrują przycisk poziomo */
    cursor: pointer;
}

.details-button:hover {
    display: block;
    /* Przycisk w bloku, aby zajął całą dostępną szerokość */
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
    background-color: #464646;
    margin: 10px auto;
    /* Automatyczne marginesy centrują przycisk poziomo */
    cursor: pointer;
}

.product-grid1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-grid2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


.product-item1 {
    position: relative;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 200px;
    /* Adjust as needed */
}

.product-item1 img {
    max-width: 100%;
    height: auto;
}

.price-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 150px;
    width: 20px;
}

.h3 {
    font-weight: bold;
}

.price {
    font-weight: bold;
}


.product-item1 img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    /* Nakładka zaczyna się od górnej krawędzi */
    left: 0;
    /* Nakładka zaczyna się od lewej krawędzi */
    right: 0;
    /* Nakładka rozciąga się do prawej krawędzi */
    bottom: 0;
    /* Nakładka rozciąga się do dolnej krawędzi */
    background: rgba(0, 0, 0, 0.5);
    /* Półprzezroczyste tło */
    color: white;
    padding: 20px;
    /* Odstęp wewnątrz nakładki */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centrowanie zawartości w pionie */
    align-items: center;
    /* Centrowanie zawartości w poziomie */
}

.text h3 {
    margin-bottom: 15px;
    /* Odstęp między nagłówkiem a paragrafem */
}

.details-button {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    ;
    border: 1px solid white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    /* Aby można było zastosować padding */
    margin-top: 15px;
    /* Odstęp między tekstem a przyciskiem */
}

.product-item4 {
    position: relative;
    width: auto;
    /* Szerokość twojego zdjęcia */
    height: auto;
    /* Wysokość twojego zdjęcia */
    margin: 0 auto;
    /* Centrowanie */
}

.product-item4 img {
    width: 100%;
    height: auto;
    display: block;
}

.info-box {
    position: absolute;
    top: 50%;
    /* Środek kontenera w pionie */
    left: 15%;
    /* Odległość od lewej krawędzi */
    transform: translateY(-50%);
    /* Centrowanie w pionie */
    width: 300px;
    /* Szerokość pola z informacjami */
    background: rgba(255, 255, 255, 0.9);
    /* Półprzezroczyste białe tło */
    padding: 20px;
    /* Wewnętrzny odstęp */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Delikatny cień */
}

.info-box h2 {
    margin-bottom: 10px;
    /* Odstęp między nagłówkiem a ceną */
}

.price2 {
    font-weight: bold;
    margin-bottom: 10px;
    /* Odstęp między ceną a opisem */
}

.old-price {
    text-decoration: line-through;
    /* Przekreślenie ceny */
    font-weight: normal;
    margin-left: 10px;
    /* Odstęp między cenami */
}

.details-button2 {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    /* Aby można było zastosować padding */
    margin-top: 10px;
    /* Odstęp między opisem a przyciskiem */
}

.details-button2:hover {
    background-color: #171718;
    color: white;
}

.footer-column p1 {
    display: none;
}

.top-rated-title-container {
    text-align: left;
    padding-left: 20px;
}

.top-rated-title {
    font-size: 24px;
    display: inline-block;
    /* Aby padding zadziałało na element inline */
    margin-top: 0;
    /* Jeśli potrzebujesz usunąć domyślny margines górny */
    margin-bottom: 20px;
}

.top-rated-grid {
    display: flex;
    justify-content: space-around;
    /* Zapewnia równomierne rozmieszczenie produktów */
    flex-wrap: wrap;
    margin: 0 auto;
    /* Centrowanie siatki produktów */
    max-width: 1200px;
}

.top-rated-item {
    flex: 1 0 30%;
    /* Ustawienie szerokości dla produktów, flex-grow: 1 pozwala na rozciągnięcie */
    display: flex;
    /* Dla umieszczenia obrazu i informacji obok siebie */
    align-items: flex-start;
    /* Wycentrowanie elementów w pionie na górze */
    flex-direction: row;
    /* Elementy ułożone w pionie */
    flex-basis: calc(33.333% - 20px);
    margin-right: 10px;
    /* Aby zachować odstęp między produktami */
    margin-bottom: 20px;
    width: calc(33.333% - 20px);
}

.top-rated-item img {
    max-width: 100px;
    /* Maksymalna szerokość obrazu, dostosuj zgodnie z potrzebami */
    margin-right: 10px;
    /* Odstęp między obrazem a informacjami */
}

.top-rated-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-rated-price-stars {
    display: flex;
    align-items: center;
}

.top-rated-price {
    font-weight: bold;
    margin-right: 10px;
    /* Odstęp między ceną a gwiazdkami */
}

.top-rated-stars img {
    width: auto;
    /* Aby zapobiec rozciąganiu gwiazdek */
    height: auto;
    /* Aby zachować proporcje gwiazdek */
    margin-right: 2px;
    /* Małe odstępy między gwiazdkami */
}

.load-more-container {
    text-align: center;
    /* Centrowanie przycisku */
    margin: 20px 0;
    /* Odstępy górny i dolny */
}

.load-more-btn {
    background-color: #000;
    /* Czarny kolor tła */
    color: #fff;
    /* Biały kolor tekstu */
    border: none;
    padding: 10px 20px;
    /* Wewnętrzny odstęp */
    cursor: pointer;
    /* Kursor wskazujący */
}

.newsletter-signup-section {
    display: flex;
    justify-content: flex-end;
    /* Wyrównanie do prawej strony */
    margin: 20px 0;
    /* Odstępy górny i dolny */
    margin-left: 20px;
}

.newsletter-signup-container {
    width: 100%;
    /* Określa szerokość kontenera formularza */
}

.newsletter-content {
    text-align: left;
    /* Wyrównanie tekstu do prawej strony */
}

.newsletter-title {
    font-size: 24px;
    /* Rozmiar czcionki dla tytułu */
    margin-bottom: 5px;
    /* Odstęp między tytułem a opisem */
}

.newsletter-description {
    margin-bottom: 20px;
    /* Odstęp między opisem a formularzem */
}

.newsletter-form {
    display: flex;
    margin-right: 20px;
    justify-content: flex-end;
    /* Wyrównanie formularza do prawej strony */
    float: right;
    /* Przycisk po prawej stronie */
}

.newsletter-input {
    padding: 10px;
    border: 1px solid #ccc;
    /* Szary obramowanie */
}

.newsletter-submit-btn {
    background-color: #aa0000;
    /* Biały kolor tła */
    border: 1px solid #050505;
    /* Szary obramowanie */
    cursor: pointer;
    /* Kursor wskazujący */
}

.newsletter-submit-btn img {
    width: 20px;
    /* Rozmiar ikony wysyłania */
    height: auto;
    /* Automatyczna wysokość */
}



footer {
    background-color: #323334;
    color: #fff;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-column {
    width: 23%;
    /* Aproksymacja 1/4 szerokości kontenera z uwzględnieniem paddingu/marginesów */
    margin-bottom: 20px;
    /* Dla responsywności */
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column p,
.footer-column ul,
.footer-column li {
    font-size: 0.875rem;
    line-height: 1.6;
    margin-bottom: 5px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-social-icons {
    display: flex;
    justify-content: left;
    /* Wyśrodkowanie ikon poziomo /
    align-items: center;
    margin-bottom: 20px; / Dla responsywności */
}

.footer-social-icons a {
    display: inline-block;
    margin: 0 20px;
    /* Zwiększone odstępy między ikonami */
}

.footer-social-icons img {
    width: 24px;
    height: auto;
    transition: 0.3s ease;
}

.footer-social-icons img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.footer-bottom p {
    font-size: 0.875rem;
}

.copyright {
    background-color: #171718;
    padding: 10px 0;
}

.footer-bottom {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

@media only screen and (max-width: 885px) {
    #test {
        display: none;
    }
}

/* Zapytania medialne dla ekranów mniejszych niż 450px */
@media only screen and (max-width: 700px) {

        .slider-controls {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

        .slider-radio {
            display: none;
        }

        .slider-label {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ccc;
            margin: 0 5px;
            cursor: pointer;
        }

        /* Zmiana koloru kropki gdy odpowiadający radiobutton jest zaznaczony */
        .slider-radio:checked + .slider-label {
            background: #000;
        }

        .slider-controls > a:hover, .slider-controls > a:focus, .slider-nav > div:target {
            background: #000;
        }


    .header-icons {
        display: flex;
    }

    .header-icons img {
        margin-right: 30px;
        float: left
    }

    .header-icons .toggle-menu {
        margin-left: 10px;
        font-size: 30px
    }

    .toggle-menu {
        display: flex;
    }

    .navbar {
        display: none;
    }

    .main-section {
        padding: 0px;
    }

    /* Ukryj niektóre ikony z paska górnego */
    .header-top .header-icons img:not(:nth-child(2)):not(:nth-child(4)):not(:last-child) {
        display: none;
    }

    #menu-toggle{
        display:none;
    }

    .navbar-links{
        list-style-type: none;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    #hamburger{
        border: 0px;
        cursor: pointer;
        /* Kursor wskazujący */
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .mobile-menu {
        display: none;
        /* Domyślny stan to ukrycie */
    }

    #menu-toggle:checked ~ .navbar-links {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    /* Ukryj niektóre linki w pasku nawigacyjnym */
    .navbar a:not(:first-child):not(:last-child) {
        display: none;
    }

    /* Ukryj niektóre elementy w stopce */
    .footer-column {
        width: 100%;
        margin-bottom: 0;
    }

    h1 {
        margin-left: 20px;
    }

    .newsletter-signup-section {
        display: flex;
        justify-content: center;
        /* Wycentrowanie kontenera */
        margin: 20px 10px;
        /* Odstępy górny i dolny oraz lewy i prawy na 10px */
    }

    .newsletter-signup-container {
        width: calc(100% - 20px);
        /* Szerokość kontenera minus marginesy */
        flex-direction: row;
        align-items: center;
        /* Wyrównanie elementów pionowo */
    }

    .newsletter-content {
        text-align: left;
        flex-grow: 1;
        /* Pozwala tytułowi i opisowi na zajęcie dostępnej przestrzeni */
    }

    .newsletter-form {
        flex-grow: 1;
        /* Pozwala formularzowi na zajęcie dostępnej przestrzeni */
        display: flex;
        margin-right: -10px;
        justify-content: flex-end;
        float: none;
    }

    .newsletter-input {
        padding: 10px;
        border: 1px solid #ccc;
        margin-right: 10px;
        /* Odstęp między polem input a przyciskiem */
        flex-grow: 1;
        /* Pozwala inputowi na zajęcie dostępnej przestrzeni */
    }

    .newsletter-submit-btn {
        background-color: #aa0000;
        /* Kolor tła przycisku */
        border: none;
        /* Usunięcie obramowania */
        cursor: pointer;
        padding: 10px 15px;
        /* Dodanie paddingu do przycisku */
    }

    .newsletter-submit-btn img {
        width: 20px;
        height: auto;
    }


    /* Zmień układ sekcji promocyjnej */
    .promo-section {
        flex-direction: row;
    }

    .promo-section {
        display: flex;
        justify-content: none;
        width: auto;
        background-color: #DBD0CC;

    }

    .promo-image {
        float: left;
        width: 50%;
        height: auto;
    }

    .promo-text {
        float: right;
        max-width: 30%;
    }

    .newsletter-content h2 {
        font-size: 120%;
        width: 100%;
    }

    .newsletter-content p {
        padding-right: 50px;
        font-size: 100%;
        width: 100%;
    }

    h2 {
        display: flex;
        width: 30%;
    }

    .product-grid1,
    .product-grid2 {
        display: none;
    }

    /* Zmień układ siatki produktów */
    .product-grid,
    .product-grid1,
    .product-grid2 {
        flex-direction: column;
    }

    .product-item,
    .product-item1 {
        width: 100%;
        margin: 0 0 20px;
    }

    /* Zmień układ przycisku 'VIEW DETAILS' */
    .details-button,
    .details-button2 {
        width: auto;
        margin: 10px;
    }

    .icon-bar {
        display: none;
    }

    /* Zmień układ ikon mediów społecznościowych */
    .footer-social-icons {
        justify-content: center;
    }

    .footer-social-icons a {
        margin: 0 10px;
    }

    /* Zmień układ sekcji 'TOP RATING' */
    .top-rated-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .top-rated-item img {
        width: auto;
        margin-right: 20px;
    }

    /* Zmień układ przycisku 'LOAD MORE PRODUCTS' */
    .load-more-btn {
        display: none;
    }

    .top-rated-products {
        display: none;
    }

    * {
        box-sizing: border-box;
    }

    .slider {
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .slides {
        display: flex;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding: 20px 0;
    }

    .slide {
        scroll-snap-align: center;
        /* Zmiana z 'start' na 'center' */
        flex-shrink: 0;
        width: 260px;
        /* Szerokość pojedynczego slajdu */
        margin: 0 25px;
        /* Centrowanie slajdu */
        background: #FFF;
        position: relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    /* Styl dla suwaka */
    .slider-nav {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        text-align: center;
    }

    #drugie {
        display: none;
    }

    .slider-nav a {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        margin: 0 5px;
        transition: background-color 0.3s;
    }

    .slider-nav a.active,
    .slider-nav a:hover  {
        background: #000;
    }

    /* Ukrycie paska przewijania dla wszystkich przeglądarek */
    .slides::-webkit-scrollbar {
        display: none;
    }

    .slides {
        -ms-overflow-style: none;
        /* dla Internet Explorer, Edge */
        scrollbar-width: none;
        /* dla Firefox */
    }

    .slide-description {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 90px;
        width: 100%;
        padding: 10px;
        background-color: rgba(183, 183, 154, 0.5);
        /* kolor #B7B79A z 50% przezroczystości */
        color: rgb(255, 255, 255);
        /* kolor tekstu */
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;
        box-sizing: border-box;
    }

    .product-name,
    .price {
        margin: 0;
    }

    /* Ukrycie paska przewijania dla wszystkich przeglądarek */
    .slides-drugi::-webkit-scrollbar {
        display: none;
    }

    .price {
        font-weight: bold;
        font-size: 1.5em;
    }

    .price2 {
        display: none;
    }

    .info-box p {
        display: none;
    }

    .info-box h2 {
        text-align: center;
        width: 165px;
        font-size: medium;
    }

    .info-box {
        padding-top: 5px;
        width: 200px;
        height: 140px;
    }

    .product-item4 {
        position: relative;
        width: auto;
        /* Szerokość twojego zdjęcia */
        height: auto;
        /* Wysokość twojego zdjęcia */
        margin: 0 auto;
        /* Centrowanie */
    }

    .slider-drugi {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        overflow-x: hidden;
        padding: 20px 0;
    }

    .slides-drugi {
        display: flex;
        margin-bottom: 10px;
    }

    .slide-drugi {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 25px;
        margin-right: 25px;
        min-width: 100%;
        /* Zapewnia, że slajdy nie nachodzą na siebie */
    }

    .slide-drugi img {
        width: 160px;
        height: auto;
    }

    .slide-description-drugi img {
        width: 120px;
        height: auto;
        float: left;
        margin-right: 20px;
    }

    .slite-description-drugi .product-name5 .top-rated-stars5 .price5 {
        float: left;
    }

    .slide-description-drugi .price5 {
        font-size: 1.2em;
        /* Adjust font size as needed */
        font-weight: bold;
        /* Make price bold */
        color: #333;
        /* Adjust color as needed */
        margin-left: 20px;
    }

    .top-rated-stars5 img {
        width: 16px;
        /* Adjust width as needed */
        height: auto;
        margin-right: 2px;
        /* Space between stars */
    }

    .slide-description-drugi {
        flex-direction: column;
        /* Stack items vertically */
        justify-content: center;
        /* Center items vertically if needed */
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .container {
        display: flex;
        /* Use flexbox to lay out the bar and the navigation */
        flex-direction: column;
        /* Stack them on top of each other */
        align-items: center;
        /* Center them horizontally */
        position: absolute;
        /* Dodano pozycjonowanie względne */
        margin-top: 620px;
        width: 100%;
        /* Ustaw pełną szerokość */
    }

    .horizontal-bar {
        width: 100%;
        /* Adjust the width as necessary */
        border-top: 2px solid #ccc;
        /* Style the top border as the bar */
        margin-bottom: 20px;
        /* Space between the bar and the dots */
    }

    .slider {
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
    }

    .slides {
        display: flex;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding: 20px 0;
    }

    .slide {
        scroll-snap-align: center;
        /* Zmiana z 'start' na 'center' */
        flex-shrink: 0;
        width: 260px;
        /* Szerokość pojedynczego slajdu */
        margin: 0 25px;
        /* Centrowanie slajdu */
        background: #FFF;
        position: relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    /* Styl dla suwaka */
    .slider-nav {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        text-align: center;
    }



    .slider-nav a {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: rgba(183, 183, 154, 0.5);
        /* kolor #B7B79A z 50% przezroczystości */
        border-radius: 50%;
        margin: 0 5px;
        transition: background-color 0.3s;
    }

    .slider-nav-drugi {
        display: flex;
        justify-content: center;
        /* Centrowanie kropek nawigacyjnych */
        padding: 0;
        margin: 0;
    }

    .slider-nav-drugi .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }

    .slider-nav-drugi .dot:hover,
    .slider-nav-drugi .dot:focus {
        background-color: #000;
        /* Color change on hover/focus */
    }


    .top-rated-stars5 {
        display: flex;
        /* Use flexbox to layout stars */
        align-items: center;
        /* Align stars vertically */
    }

    .slider-nav-trzeci {
        display: flex;
        justify-content: center;
        /* Centrowanie kropek nawigacyjnych */
        padding: 0;
        margin: 0;
    }

    .product-container {
        display: flex;
        margin-bottom: 20px;
        /* Odstęp między produktami */
    }

    .product-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        /* Odstęp między obrazkiem a szczegółami produktu */
    }

    .product-name,
    .price {
        margin: 0;
        padding: 5px 0;
        /* Odstęp między nazwą a ceną oraz oceną */
    }

    .product-rating {
        display: flex;
    }

    .top-rated-stars img {
        width: 10px;
        height: 10px;
        margin-right: 2px;
        /* Odstęp między gwiazdkami */
    }

    .top-rated-products {
        display: none;
        /* Ukryj sekcję 'TOP RATING' w widokach mobilnych */
    }

    .slider-nav-trzeci a {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        margin: 0 5px;
        transition: background-color 0.3s;
    }

    .slider-nav-trzeci a:hover,
    .slider-nav-trzeci a:focus {
        background: #000;
    }

    /* Ukrycie paska przewijania dla wszystkich przeglądarek */
    .slides-trzeci::-webkit-scrollbar {
        display: none;
    }

    .slides-trzeci {
        -ms-overflow-style: none;
        /* dla Internet Explorer, Edge */
        scrollbar-width: none;
        /* dla Firefox */
    }

    .slider-trzeci {
        background-color: rgba(219, 208, 204, 1.0);
        padding: 20px;

    }


    .footer-column p {
        display: none;
    }

    .footer-column p1 {
        display: block;
    }

    .footer-column #telefon {
        display: none;
    }

    .footer-column #foter {
        display: none;
    }

    .footer-column #column li {
        padding-bottom: 15px;
    }

    .footer-column #hide {
        display: none;
    }

    .copyright {
        background-color: #171718;
        margin-bottom: 0px;
        padding: 3px 0;
    }

    .maine-section h1 {
        display: flex;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 450px) {
    .slide-drugi {
        min-width: 80%;
    }
}
