@keyframes fadeOut {
    0%, 10% {
      opacity: 1;
      visibility: visible;
    }
    90%, 100% {
      opacity: 0;
      visibility: hidden;
    }
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f4f7f6;
}

.logo img {
    background: #000;
    border-radius: 50px;
    width: 80px;
    transition: transform .2s;
}
.logo img:hover {
    transform: scale(0.8);
}
.logo {
    transition: transform .2s;
}

.logo:hover {
    transform: scale(0.8);
}
.nav__item:hover{
    transition: transform 0.3s ease;
    margin-right: 15px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.section__heading {
    font-size: 2rem;
    color: #f55;
    margin-bottom: 2rem;
}

.section__heading:hover {
    transform: scale(0.8);
}

#thankyou {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeOut 3s forwards;
}

#thankyou:target {
    display: flex;
}

.thankyou-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
}


.footer {
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer__social {
    margin-bottom: 1rem;
}

.footer__social-icon {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.footer__text {
    font-size: 1rem;
    color: #fff;
}

.footer__link {
    color: #f55;
    text-decoration: underline;
    transition: transform 0.3s ease;
}
.footer__link:hover {
    transform: scale(1.2);
    color: rgb(145, 0, 0);
}
.footer__link:visited{
    color: rgba(0, 0, 0, 0.7);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 20%;
    overflow: none;
    margin-top: 50%;
    margin-left: 25%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
  }

  /* Modal Content Box */
  .modal-content {
    background-color: #fefefe;
    margin: auto auto;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Show the modal when checked */
  #modalCheck:checked ~ .modal {
    display: block;
    animation: fadeOut 3s forwards;
  }

  .section{
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .credit-card-form {
    margin-top: 200px;
    background-color: #9CB0A1; /* Neutral color to fit the page design */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Same as other form elements */
    margin: 2rem auto; /* Center in the middle of the section */
    font-family: 'Roboto', sans-serif;
  }

  .credit-card-form h2 {
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
  }

  .credit-card-form label {
    display: block;
    color: #333;
    margin-bottom: .5rem;
  }

  .credit-card-form input,
  .credit-card-form select,
  .credit-card-form button {
    width: 100%;
    padding: .8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* To ensure padding doesn't affect width */
  }

  .credit-card-form button {
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease;
  }

  .credit-card-form button:hover {
    background-color: #0056b3;
  }
