:root {
    --bg-color: #d1c6c6;
    --blue: #0033a0;
    --white-color: #fefefe;
    --red-color: #f55;
    --first-color: #193242;
    --second-color: #375465;
    --third-color: #183141;
    --fourth-color: #1a3344;
    --fifth-color: #385566;
    --sixth-color: #355264;
    --seventh-color: #1d384a;
    --eighth-color: #1e394b;
    --ninth-color: #395667;
    --ten-color: #203a4d;
}

body {
    background-color: var(--bg-color);
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    margin-top: 60px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.header__text {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1rem;
    transition: transform 0.2s;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.header__text:hover {
    transform: scale(0.8);
}

.header__text--colorized {
    color: var(--red-color);
    font-weight: bold;
}

.header__cta {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    background-color: var(--red-color);
    padding: 0.7rem 2rem;
    border-radius: 5px;
    transition: transform 0.2s;
}

.header__cta:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.2);
    background-color: rgb(186, 69, 69);
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--seventh-color);
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo img {
    border-radius: 50px;
    width: 100px;
}

.logo {
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(0.8);
}

nav {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border-top: 0.5px solid var(--white-color);
    border-bottom: 0.5px solid var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--eighth-color);
    margin-right: 35px;
    padding: 10px 0;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s, border-bottom-color 0.3s;
    border-bottom: 2px solid transparent;
    position: relative;
}

nav ul li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #fff;
    border-bottom-color: #fff;
}

nav ul li a:hover:before {
    visibility: visible;
    width: 100%;
}

nav ul li a.active {
    color: #fff;
    border-bottom-color: #fff;
}

.nav:hover {
    transform: translateY(-3px);
}

nav ul li img {
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

.nav__item {
    transition: transform 0.3s ease;
    margin-right: 15px;
}

#hamburger {
    display: none;
}

input#toggle {
    display: none;
}

main {
    margin-top: 160px;
    margin-bottom: 100px;
}


.about-us__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.about-us__text {
    font-size: 2rem;
    color: #f55;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
}

.about-us__text:hover {
    transform: scale(0.8);
}

.about-us__textbox {
    max-width: 600px;
    margin: 0 auto;
}

.about-us__text {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    color: #333;
}

.about-us__link {
    color: #f55;
    text-decoration: underline;
}

.about-us__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.about-us__img {
    width: 50%;
    max-width: 200px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.about-us__img:hover {
    transform: scale(0.8);
}


footer {
    padding-top: 1rem;
    background-color: var(--fifth-color);
    color: #fff;
    text-align: center;
    width: 100%;
}

.footer__text {
    font-size: 1.2rem;
    color: #fff;
}

.footer__link {
    color: #f55;
    text-decoration: underline;
    transition: transform 0.3s ease;
}

.footer__link:hover {
    transform: scale(1.2);
    color: rgb(145, 0, 0);
}

.footer__link:visited {
    color: rgba(0, 0, 0, 0.7);
}

footer img {
    width: 30px;
    height: 30px;
    margin: 10px;
}


@media (max-width: 768px) {


    #hamburger {
        display: flex;
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition: transform 0.2s;
        padding: 0px 10px;
        font-size: 1.5rem;
    }

    #toggle {
        display: none;
        border: 0px;
    }

    #toggle:checked ~ .navbar-links {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-evenly;
        padding: 0px;
    }

    .navbar-links {
        display: none;
    }


    .nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .header {
        margin-top: 60px;
    }

}

@media (max-width: 650px) {

    #hamburger {
        display: flex;
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition: transform 0.2s;
        padding: 0px 10px;
        font-size: 1.5rem;
    }

    #toggle {
        display: none;
        border: 0px;
    }

    #toggle:checked ~ .navbar-links {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-evenly;
        padding: 0px;
    }

    .navbar-links {
        display: none;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background-color: var(--seventh-color);
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        align-content: flex-end;
        justify-content: flex-start;
        text-align: center;
    }

    .logo img {
        border-radius: 50px;
        width: 80px;
        margin-top: 0px;
    }

    .logo {
        position: relative;
        left: 0;
        transform: none;
        margin-bottom: 10px;
        transition: transform 0.2s;
    }

    .logo:hover {
        transform: scale(0.8);
    }

    .header {
        margin-top: 60px;
    }


    .navbar {
        justify-content: center;
        padding: 1rem 0;
        flex-wrap: wrap;
    }

    nav {
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--eighth-color);
    }

    nav ul {
        width: 100%;
        justify-content: center;
    }

    nav ul li {
        width: 50%;
        text-align: center;
    }

    nav ul li a {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #ffffff;
        transition: color 0.3s, border-bottom-color 0.3s;
        border-bottom: 2px solid transparent;
        position: relative;
    }

    nav ul li a:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    nav ul li a:hover {
        color: #fff;
        border-bottom-color: #fff;
    }

    nav ul li a:hover:before {
        visibility: visible;
        width: 100%;
    }

    nav ul li a.active {
        color: #fff;
        border-bottom-color: #fff;
    }

    .nav {
        position: relative;
        transition: transform 0.3s ease;
    }

    .nav:hover {
        transform: translateY(-3px);
    }

    .logo {
        position: absolute;
        top: 5px;
        left: 10%;
        transform: translateX(-50%);
    }

    .logo img {
        margin-left: 20px;
    }
}
