body {
    font-family: 'Victor Mono', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.logo img {
    background: #000;
    border-radius: 50px;
    width: 80px;
    transition: transform .2s;
}
.logo img:hover {
    transform: scale(0.8);
}
.logo {
    transition: transform .2s;
}

.logo:hover {
    transform: scale(0.8);
}
.nav__item:hover{
    transition: transform 0.3s ease;
    margin-right: 15px;
}

.navbar {
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}


.faq__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.faq__text {
    font-size: 2rem;
    color: #f55;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
}

.faq__text:hover {
    transform: scale(1.2);
}

.faq__question {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.faq__answer {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 2rem;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.footer__social {
    margin-bottom: 1rem;
}

.footer__social-icon {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.footer__text {
    font-size: 1rem;
    color: #fff;
}

.footer__link {
    color: #f55;
    text-decoration: underline;
    transition: transform 0.3s ease;
}
.footer__link:hover {
    transform: scale(1.2);
    color: rgb(145, 0, 0);
}
.footer__link:visited{
    color: rgba(0, 0, 0, 0.7);
}